@model IEnumerable<Simple_ATM.DomainLayer.Entities.User>
@using Simple_ATM.Models.ViewModels;
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Card Number</th>
            <th>Card Pin</th>
            <th>Amount</th>
            <th>Blocked</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.CardNumber</td>
                <td>@user.CardPin</td>
                <td>$@user.CardAmount</td>
                <td>@user.IsBlocked</td>
                <td>
                    @await Html.PartialAsync("_Delete", new UserViewModel { Id = user.UserId })
                </td>
                <td>
                    @await Html.PartialAsync("_Unlock", new UserViewModel { Id = user.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
<button onclick="location.href='@Url.Action("Generate")'" class="navigation-button" style="font-size:initial; width:auto;">Generate random</button>
<button onclick="location.href='@Url.Action("DropUsers")'" class="navigation-button" style="font-size:initial; width:auto;">Drop table</button>
