@model Simple_ATM.Models.ViewModels.OperationResultViewModel
@{
}
@section Styles {
    <link href="~/css/operation.css" rel="stylesheet" />
}

<div class="operation-data">
    <div class="operation-element">
        <label class="label">
            Card number
        </label>
        @Model.CardNumber
    </div>
    <div class="operation-element">
        <label class="label">
            Operation
        </label>
        @Model.OperationType.ToString()
    </div>
    <div class="operation-element">
        <label class="label">
            Operation amount
        </label>
        @Model.Amount

    </div>
    <div class="operation-element">
        <label class="label">
            Remaining
        </label>
        @Model.RemainingAmount
    </div>

    <button onclick="location.href='@Url.Action("Dashboard", "Account")'" class="navigation-button">Back</button>
    <button onclick="location.href='@Url.Action("Exit", "Account")'" class="navigation-button">Exit</button>
</div>
